# ÍNDICES e PARTICIONAMENTO

Na aula anterior estudamos os conceitos de **dependências funcionais** e **normalização**. O conhecimento das formas normais propicia verificar a possibilidade de realizar alterações no design das bases de dados, com o objetivo de **evitar repetições** e **recuperar informações de forma fácil**.

Entretanto, mesmo obedecendo (ou não) às formas normais, em certas situações a performance de nossas queries em produção se torna sofrível. Nesta aula, veremos alguns recursos que podemos utilizar para melhorar o desempenho das consultas produzidas.

Este é um tema bastante relevante. Um engenheiro sem o devido conhecimento pode recomendar, por exemplo, a compra de mais servidores (físicos ou na AWS), quando a aplicação dos conceitos vistos nesta aula poderiam gerar ganhos de múltiplas vezes no tempo de execução de queries!

## Instalação da base

Vamos utilizar a base de dados sintética disponível no Blackboard. Execute o script `script_elet_001.sql` para criar a base de dados. Este script apenas faz a **DDL**, os dados gerão gerados de forma aleatória neste notebook.

## Import das bibliotecas

Vamos realizar o import das bibliotecas.

In [1]:
import mysql.connector
import os
import random
import numpy as np
import pandas as pd
from functools import partial
from datetime import datetime, timedelta
from dotenv import load_dotenv
from IPython.display import clear_output

E vamos criar nosso HELPER de conexão com o banco! Perceba que, uma vez configurado o `.env` não precisaremos mais informar usuários, senhas e URLs!

In [3]:
load_dotenv(override=True)

def get_connection_helper():

    def run_db_query(connection, query, args=None, verbose=True):
        with connection.cursor() as cursor:
            if verbose:
                print("Executando query:")
            cursor.execute(query, args)
            for result in cursor:
                if verbose:
                    print(result)

    connection = mysql.connector.connect(
        host=os.getenv("MD_DB_SERVER"),
        port=int(os.getenv("MD_DB_PORT", 3306)),
        user=os.getenv("MD_DB_USERNAME"),
        password=os.getenv("MD_DB_PASSWORD"),
        database="eletrobeer",
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

## Gerar dados para a base

Vamos gerar alguns valores aleatórios e inserir na base de dados `eletrobeer`.

Primeiro, defina a quantidade de linhas a serem inseridas e demais variáveis de ambiente:

In [4]:
QTDE_PED = 6000000
BATCH_SIZE = 200000

START_DATE = datetime(2015, 1, 1)
END_DATE = datetime(2022, 12, 31)

CIDADES_UF = np.array([
    ["São Paulo", "SP"],
    ["Campinas", "SP"],
    ["Ribeirão Preto", "SP"],
    ["São Roque", "SP"],
    ["Rio de Janeiro", "RJ"],
    ["Macaé", "RJ"],
    ["Angra dos Reis", "RJ"],
])
NUM_CIDADES = len(CIDADES_UF)
DATE_DELTA_DAYS = (END_DATE - START_DATE).days

Vamos definir algumas funções auxiliares

In [5]:
def gerar_lote_pedidos(start_id, batch_size):
    """Gera um lote de pedidos com dados aleatórios."""
    ids_pedido = np.arange(start_id, start_id + batch_size, dtype=np.int32)
    ids_cliente = np.random.randint(1000, 10001, size=batch_size, dtype=np.int32)
    qtde_itens = np.random.randint(1, 201, size=batch_size, dtype=np.int32)
    valor_total = np.random.uniform(15.0, 300000.0, size=batch_size)
    
    random_days = np.random.randint(0, DATE_DELTA_DAYS + 1, size=batch_size)
    datas_criacao = (
        pd.to_datetime(START_DATE) + pd.to_timedelta(random_days, unit='D')
    ).strftime("%Y-%m-%d").to_numpy()
    
    indices_cidade = np.random.randint(0, NUM_CIDADES, size=batch_size)
    cidades = CIDADES_UF[indices_cidade, 0]
    ufs = CIDADES_UF[indices_cidade, 1]

    pedidos = list(zip(
        ids_pedido.tolist(),
        ids_cliente.tolist(),
        datas_criacao,
        qtde_itens.tolist(),
        valor_total.tolist(),
        cidades,
        ufs
    ))
    
    return pedidos


def insert_pedidos(connection, pedidos):
    """Insere um lote de pedidos na tabela `pedido`."""
    with connection.cursor() as cursor:
        sql = """INSERT INTO eletrobeer.pedido
        (id_pedido, id_cliente, data_criacao, qtde_itens, valor_total, cidade_entrega, uf_entrega)
        VALUES (%s, %s, %s, %s, %s, %s, %s)"""
        cursor.executemany(sql, pedidos)

Garantir que a tabela `pedido` está vazia

In [6]:
db("TRUNCATE eletrobeer.pedido")

Executando query:

Então, geramos os dados aleatórios.

**<span style="color:red">Atenção</span>**: Este processo pode demorar alguns minutos! A cada aproximadamente 5 segundos, `BATCH_SIZE` inserções devem ser realizadas, com o retorno da mensagem `Completou 800,000 pedidos (Lote 1 de 30)` e assim por diante!

**Dica:** enquanto executa a próxima célula, apenas por curiosidade, leia o seguinte material https://dev.mysql.com/doc/refman/8.0/en/optimizing-innodb-bulk-data-loading.html.

In [7]:
num_batches = (QTDE_PED + BATCH_SIZE - 1) // BATCH_SIZE

print(f"Iniciando a geração e processamento de {QTDE_PED:,} pedidos em {num_batches} lotes de {BATCH_SIZE:,}...")

for i in range(num_batches):
    start_id = i * BATCH_SIZE + 1
    
    current_batch_size = min(BATCH_SIZE, QTDE_PED - (start_id - 1))
    
    pedidos = gerar_lote_pedidos(start_id, current_batch_size)
    
    if connection:
        insert_pedidos(connection, pedidos)
        
    if (i + 1) * BATCH_SIZE % BATCH_SIZE == 0:
        clear_output(wait=True)
        print(f"Completou {(i + 1) * BATCH_SIZE:,} pedidos (Lote {i+1} de {num_batches})")

print(f"Processamento de {QTDE_PED:,} pedidos concluído.")

Completou 6,000,000 pedidos (Lote 30 de 30)
Processamento de 6,000,000 pedidos concluído.

E vamos fazer `commit` para garantir que os dados foram salvos!

In [8]:
connection.commit()

## Consultando a base

Vamos fazer algumas consultas. Como nosso objetivo é avaliar a performance das queries, precisamos analisar o tempo que cada query necessita para executar.

Uma opção é fazer o cálculo direto no Python:

In [9]:
import time

start_time = time.time() # get current time

db("SELECT COUNT(*) FROM pedido")

end_time = time.time() # get current time again

time_spent = end_time - start_time # calculate time spent

print("Time spent:", time_spent, "seconds")

Executando query:
(6000000,)
Time spent: 0.3182504177093506 seconds

Entretanto, desta forma estamos considerando o tempo total, incluindo o tempo gasto pelas funções do próprio Python. Talvez não seja um tempo significativo, mas como poderia ser, melhor evitar e considerar o tempo isolado: apenas o que foi gasto de fato para a query executar (após ter sido recebida pelo RDBMS MySQL).

Para isto, vamos ativar **profiling**:

In [10]:
db("SET profiling = 1;", verbose=False)

**Obs**: quando quiser desativar, utilize

```mysql
SET profiling = 0;
```

Então podemos executar algum **SQL**

In [11]:
db("SELECT COUNT(*) FROM pedido")

Executando query:
(6000000,)

Um outro exemplo de **SQL**

In [12]:
db("SELECT * FROM pedido ORDER BY cidade_entrega ASC LIMIT 1")

Executando query:
(7, 8407, datetime.date(2015, 10, 16), 63, Decimal('59811.99'), 'Angra dos Reis', 'RJ')

E ver, no segundo elemento de cada tupla, qual o tempo gasto para a query ser executada.

In [13]:
db("SHOW PROFILES;")

Executando query:
(1, 0.34389675, 'SELECT COUNT(*) FROM pedido')
(2, 3.102552, 'SELECT * FROM pedido ORDER BY cidade_entrega ASC LIMIT 1')

Então, podemos executar novas queries e ver o seu tempo consumido:

**Dica**: aqui, `verbose=False` executará a query, mas não exibirá o resultado na saída. Podemos fazer assim quando nosso interesse é em apenas ter o tempo da query e não o resultado

In [14]:
sql = "SELECT COUNT(*) as QTDE_LINHAS FROM pedido"

db(sql, verbose=False)
db("SHOW PROFILES;")

Executando query:
(1, 0.34389675, 'SELECT COUNT(*) FROM pedido')
(2, 3.102552, 'SELECT * FROM pedido ORDER BY cidade_entrega ASC LIMIT 1')
(3, 0.27147825, 'SELECT COUNT(*) as QTDE_LINHAS FROM pedido')

Utilize `SET PROFILING_HISTORY_SIZE = ???;`, trocando `???` pelo **número de queries** que quer ver no resultado dos profiles, para limitar a exibição as últimas **número de queries**.

In [15]:
db("SET PROFILING_HISTORY_SIZE = 2;", verbose=False)
db("SHOW PROFILES;")

Executando query:
(3, 0.27147825, 'SELECT COUNT(*) as QTDE_LINHAS FROM pedido')
(4, 0.00035975, 'SET PROFILING_HISTORY_SIZE = 2')

Vamos deixar configurado para `6`. Você pode alterar quando quiser!

In [16]:
db("SET PROFILING_HISTORY_SIZE = 6;", verbose=False)
db("SHOW PROFILES;")

Executando query:
(3, 0.27147825, 'SELECT COUNT(*) as QTDE_LINHAS FROM pedido')
(4, 0.00035975, 'SET PROFILING_HISTORY_SIZE = 2')
(5, 0.00020825, 'SET PROFILING_HISTORY_SIZE = 6')

### Explorando novos exemplos

Vamos executar algumas consultas e verificar seus tempos de execução.

**Dica**: leia cada query e tente entender o que ela faz!

In [17]:
sql1 = """SELECT count(*) FROM pedido p
WHERE p.cidade_entrega = "São Paulo";"""

sql2 = """SELECT count(*) FROM pedido p
WHERE p.cidade_entrega = "Rio de Janeiro";"""

sql3 = """SELECT count(*) FROM pedido p
WHERE p.cidade_entrega IN ("Rio de Janeiro", "São Paulo");"""

sql4 = """SELECT count(*) FROM pedido p
WHERE p.cidade_entrega LIKE "São%";"""

sql5 = r"""SELECT count(*) FROM pedido p
WHERE p.cidade_entrega LIKE "%de%";"""

sql6 = "SELECT * FROM pedido ORDER BY cidade_entrega DESC LIMIT 5"

db(sql1)
db(sql2)
db(sql3)
db(sql4)
db(sql5)
db(sql6)

db("SHOW PROFILES;")

Executando query:
(855743,)
Executando query:
(857084,)
Executando query:
(1712827,)
Executando query:
(1712655,)
Executando query:
(857084,)
Executando query:
(11, 1333, datetime.date(2022, 7, 19), 52, Decimal('22675.44'), 'São Roque', 'SP')
(12, 9949, datetime.date(2019, 5, 26), 76, Decimal('295677.71'), 'São Roque', 'SP')
(4, 3963, datetime.date(2022, 1, 27), 185, Decimal('273296.47'), 'São Roque', 'SP')
(28, 5633, datetime.date(2018, 1, 9), 94, Decimal('251777.12'), 'São Roque', 'SP')
(6, 3824, datetime.date(2016, 8, 21), 135, Decimal('47693.05'), 'São Roque', 'SP')
Executando query:
(6, 1.8067405, 'SELECT count(*) FROM pedido p\nWHERE p.cidade_entrega = "São Paulo"')
(7, 1.48809075, 'SELECT count(*) FROM pedido p\nWHERE p.cidade_entrega = "Rio de Janeiro"')
(8, 2.0048515, 'SELECT count(*) FROM pedido p\nWHERE p.cidade_entrega IN ("Rio de Janeiro", "São Paulo")')
(9, 1.46724825, 'SELECT count(*) FROM pedido p\nWHERE p.cidade_entrega LIKE "São%"')
(10, 1.849854, 'SELECT count(*) FROM pedido p\nWHERE p.cidade_entrega LIKE "%de%"')
(11, 2.923782, 'SELECT * FROM pedido ORDER BY cidade_entrega DESC LIMIT 5')

### MEGADADOS?!

Podemos perceber que esta base tem (deveria ter!!!) 4 milhões de linhas.

In [18]:
sql = "SELECT COUNT(*) as QTDE_LINHAS FROM pedido"

db(sql)

Executando query:
(6000000,)

No resultados do `SHOW PROFILES`, vemos que o tempo é quase zero. Mas não se engane, estamos mantendo um ambiente controlado, com apenas uma tabela e realizando queries simples o suficiente para entendermos o que está acontecendo.

Em uma situação do mercado profissional, prepare-se para trabalhar com milhões ou bilhões de linhas em dezenas ou centenas de tabelas, construindo queries de centenas e até milhares de linhas que rodam milhares ou milhões de vezes! As situações de dependência entre múltiplas colunas e tabelas gerará muitas situações onde os conceitos da aula poderão ser aplicados.

**Dica**: No MySQL Workbench, dê botão direito na tabela / Table Inspector. Abra o explorer e confira o tamanho do arquivo contido no **Data path**! Novamente, em uma situação de mercado, espere gigabytes!

### Índices

Índices são estruturas de dados que facilitam a localização de informação no banco de dados.

**Obs**: Link para simular `BTREE` https://www.cs.usfca.edu/~galles/visualization/BTree.html

Para criar um índice, vamos utilizar a sintaxe:
```mysql
CREATE INDEX index_name [index_type] 
 ON tbl_name (index_col_name,...)
```

Por exemplo:

```mysql
-- Por padrão, o index será BTREE
CREATE INDEX pedido_cidade_entrega_IDX
 ON eletrobeer.pedido (cidade_entrega);
```

É importante lembrar que nem todos os engines suportam índice **HASH**. A engine padrão da versão que utilizamos (**InnoDB**) não suporta!

In [19]:
db("SHOW ENGINES;")

Executando query:
('ndbcluster', 'NO', 'Clustered, fault-tolerant tables', None, None, None)
('MEMORY', 'YES', 'Hash based, stored in memory, useful for temporary tables', 'NO', 'NO', 'NO')
('InnoDB', 'DEFAULT', 'Supports transactions, row-level locking, and foreign keys', 'YES', 'YES', 'YES')
('PERFORMANCE_SCHEMA', 'YES', 'Performance Schema', 'NO', 'NO', 'NO')
('MyISAM', 'YES', 'MyISAM storage engine', 'NO', 'NO', 'NO')
('FEDERATED', 'NO', 'Federated MySQL storage engine', None, None, None)
('ndbinfo', 'NO', 'MySQL Cluster system information storage engine', None, None, None)
('MRG_MYISAM', 'YES', 'Collection of identical MyISAM tables', 'NO', 'NO', 'NO')
('BLACKHOLE', 'YES', '/dev/null storage engine (anything you write to it disappears)', 'NO', 'NO', 'NO')
('CSV', 'YES', 'CSV storage engine', 'NO', 'NO', 'NO')
('ARCHIVE', 'YES', 'Archive storage engine', 'NO', 'NO', 'NO')

Vamos criar um índice na coluna `cidade_entrega` e repetir as queries.

Mas antes, vamos consultar se existe algum índice atualmente nesta tabela!

In [20]:
db("SHOW INDEX FROM pedido;")

Executando query:
('pedido', 0, 'PRIMARY', 1, 'id_pedido', 'A', 5751647, None, None, '', 'BTREE', '', '', 'YES', None)

Perceba que já existe um índice. Por que ele está aí se ainda não criamos nenhum?!

<div style="background-color: rgba(71, 85, 155, 0.2); padding: 10px; border-radius: 5px; border-left: 4px solid #475569; border: 1px solid rgba(71, 85, 105, 0.3);">

Sua resposta AQUI!

</div>

<a href="#" title="O índice foi criado para a coluna que é chave primária! Isto é feito por padrão, uma vez que a chave acaba sendo utilizada em diversas consultas e joins.">Pare o  mouse aqui para ver a resposta</a>

Então criamos o índice na coluna `cidade_entrega`:

In [21]:
db("CREATE INDEX pedido_cidade_entrega_IDX ON eletrobeer.pedido (cidade_entrega);")

Executando query:

E conferimos novamente os índices existentes

In [22]:
db("SHOW INDEX FROM pedido;")

Executando query:
('pedido', 0, 'PRIMARY', 1, 'id_pedido', 'A', 5751647, None, None, '', 'BTREE', '', '', 'YES', None)
('pedido', 1, 'pedido_cidade_entrega_IDX', 1, 'cidade_entrega', 'A', 6, None, None, 'YES', 'BTREE', '', '', 'YES', None)

Caso queira ver o título das coluas, execute o `SHOW INDEX FROM pedido;` direto no MySQL WorkBench!

Agora repetimos as queries. Compare o tempo necessários para suas execuções.

In [23]:
sql1 = """SELECT count(*) FROM pedido p
WHERE p.cidade_entrega = "São Paulo";"""

sql2 = """SELECT count(*) FROM pedido p
WHERE p.cidade_entrega = "Rio de Janeiro";"""

sql3 = """SELECT count(*) FROM pedido p
WHERE p.cidade_entrega IN ("Rio de Janeiro", "São Paulo");"""

sql4 = """SELECT count(*) FROM pedido p
WHERE p.cidade_entrega LIKE "São%";"""

sql5 = r"""SELECT count(*) FROM pedido p
WHERE p.cidade_entrega LIKE "%de%";"""

sql6 = "SELECT * FROM pedido ORDER BY cidade_entrega DESC LIMIT 5"

db(sql1)
db(sql2)
db(sql3)
db(sql4)
db(sql5)
db(sql6)

db("SHOW PROFILES;")

Executando query:
(855743,)
Executando query:
(857084,)
Executando query:
(1712827,)
Executando query:
(1712655,)
Executando query:
(857084,)
Executando query:
(5999983, 5359, datetime.date(2022, 5, 8), 123, Decimal('143364.78'), 'São Roque', 'SP')
(5999977, 5774, datetime.date(2022, 3, 6), 59, Decimal('242203.06'), 'São Roque', 'SP')
(5999974, 1490, datetime.date(2020, 6, 7), 150, Decimal('23525.21'), 'São Roque', 'SP')
(5999948, 9333, datetime.date(2015, 6, 7), 161, Decimal('264705.19'), 'São Roque', 'SP')
(5999944, 3858, datetime.date(2022, 5, 19), 5, Decimal('214935.79'), 'São Roque', 'SP')
Executando query:
(17, 0.3485355, 'SELECT count(*) FROM pedido p\nWHERE p.cidade_entrega = "São Paulo"')
(18, 0.21028775, 'SELECT count(*) FROM pedido p\nWHERE p.cidade_entrega = "Rio de Janeiro"')
(19, 0.97835675, 'SELECT count(*) FROM pedido p\nWHERE p.cidade_entrega IN ("Rio de Janeiro", "São Paulo")')
(20, 0.447218, 'SELECT count(*) FROM pedido p\nWHERE p.cidade_entrega LIKE "São%"')
(21, 1.19884175, 'SELECT count(*) FROM pedido p\nWHERE p.cidade_entrega LIKE "%de%"')
(22, 0.04010475, 'SELECT * FROM pedido ORDER BY cidade_entrega DESC LIMIT 5')

Compare o tempo **antes** *versus* **depois** da criação do índice. Apesar de não estamos analisando uma amostra de tamanho 1 (CDados manda oi!), é esperado que obtenha uma melhora de múltiplas vezes em algumas queries, mas em outras nem tanto. Você consegue explicar o por que?!

**Dica**: https://dev.mysql.com/doc/refman/8.0/en/index-btree-hash.html#btree-index-characteristics

<div style="background-color: rgba(71, 85, 155, 0.2); padding: 10px; border-radius: 5px; border-left: 4px solid #475569; border: 1px solid rgba(71, 85, 105, 0.3);">

Sua resposta AQUI!

</div>

#### Testando com outros campos e queries!

Vamos testar com com outros campos e queries!

In [24]:
db("SET PROFILING_HISTORY_SIZE = 4;", verbose=False)

In [25]:
sql1 = """SELECT count(*) FROM pedido p
WHERE p.qtde_itens = 8;"""

sql2 = """SELECT count(*) FROM pedido p
WHERE p.qtde_itens < 5;"""

sql3 = """SELECT count(*) FROM pedido p
WHERE p.qtde_itens BETWEEN 5 AND 20;"""

sql4 = """SELECT count(*) FROM pedido p
WHERE p.qtde_itens IN (8, 15, 20, 45);"""

db(sql1)
db(sql2)
db(sql3)
db(sql4)

db("SHOW PROFILES;")

Executando query:
(29999,)
Executando query:
(120394,)
Executando query:
(479855,)
Executando query:
(119857,)
Executando query:
(24, 1.77885075, 'SELECT count(*) FROM pedido p\nWHERE p.qtde_itens = 8')
(25, 1.3654305, 'SELECT count(*) FROM pedido p\nWHERE p.qtde_itens < 5')
(26, 1.29889725, 'SELECT count(*) FROM pedido p\nWHERE p.qtde_itens BETWEEN 5 AND 20')
(27, 1.5270245, 'SELECT count(*) FROM pedido p\nWHERE p.qtde_itens IN (8, 15, 20, 45)')

Conferindo os índices atuais

In [26]:
db("SHOW INDEX FROM pedido;")

Executando query:
('pedido', 0, 'PRIMARY', 1, 'id_pedido', 'A', 5751647, None, None, '', 'BTREE', '', '', 'YES', None)
('pedido', 1, 'pedido_cidade_entrega_IDX', 1, 'cidade_entrega', 'A', 6, None, None, 'YES', 'BTREE', '', '', 'YES', None)

Crie um index **BTREE** baseado na coluna `qtde_itens`

In [27]:
db("CREATE INDEX pedido_qtde_itens_IDX ON eletrobeer.pedido (qtde_itens);")

Executando query:

Conferindo os índices

In [28]:
db("SHOW INDEX FROM pedido;")

Executando query:
('pedido', 0, 'PRIMARY', 1, 'id_pedido', 'A', 5751647, None, None, '', 'BTREE', '', '', 'YES', None)
('pedido', 1, 'pedido_cidade_entrega_IDX', 1, 'cidade_entrega', 'A', 6, None, None, 'YES', 'BTREE', '', '', 'YES', None)
('pedido', 1, 'pedido_qtde_itens_IDX', 1, 'qtde_itens', 'A', 201, None, None, 'YES', 'BTREE', '', '', 'YES', None)

Repetindo as consultas

In [29]:
sql1 = """SELECT count(*) FROM pedido p
WHERE p.qtde_itens = 8;"""

sql2 = """SELECT count(*) FROM pedido p
WHERE p.qtde_itens < 5;"""

sql3 = """SELECT count(*) FROM pedido p
WHERE p.qtde_itens BETWEEN 5 AND 20;"""

sql4 = """SELECT count(*) FROM pedido p
WHERE p.qtde_itens IN (8, 15, 20, 45);"""

db(sql1)
db(sql2)
db(sql3)
db(sql4)

db("SHOW PROFILES;")

Executando query:
(29999,)
Executando query:
(120394,)
Executando query:
(479855,)
Executando query:
(119857,)
Executando query:
(31, 0.00726175, 'SELECT count(*) FROM pedido p\nWHERE p.qtde_itens = 8')
(32, 0.0354705, 'SELECT count(*) FROM pedido p\nWHERE p.qtde_itens < 5')
(33, 0.07621825, 'SELECT count(*) FROM pedido p\nWHERE p.qtde_itens BETWEEN 5 AND 20')
(34, 0.0230045, 'SELECT count(*) FROM pedido p\nWHERE p.qtde_itens IN (8, 15, 20, 45)')

Compare o tempo **antes** *versus* **depois** da criação do índice. Emocionante, não?!

<div style="background-color: rgba(71, 85, 155, 0.2); padding: 10px; border-radius: 5px; border-left: 4px solid #475569; border: 1px solid rgba(71, 85, 105, 0.3);">

Sua resposta AQUI!

</div>

## Particionamento

Particionar é dividir as tabelas de um banco de dados em partes menores.

Permite distribuir o banco de dados em vários nós ou HDs diferentes, aumentando o desempenho em situações de acesso concorrente intenso (que não é o nosso caso).

Leia mais em https://dev.mysql.com/doc/refman/8.0/en/partitioning-pruning.html

Veja um exemplo de particionamento:

In [37]:
sql1 = """
SELECT 
    YEAR(p.data_criacao), AVG(valor_total) AS media
FROM
    pedido p
WHERE YEAR(p.data_criacao) > 2020
GROUP BY YEAR(p.data_criacao)
ORDER BY YEAR(p.data_criacao) ASC;"""

db(sql1)

db("SHOW PROFILES;")

Executando query:
(2021, Decimal('149938.637044'))
(2022, Decimal('149919.921742'))
Executando query:
(39, 5.1065265, 'SELECT \n    YEAR(p.data_criacao), AVG(valor_total) AS media\nFROM\n    pedido p\nWHERE YEAR(p.data_criacao) > 2020\nGROUP BY YEAR(p.data_criacao)\nORDER BY YEAR(p.data_criacao) ASC')
(40, 2.16611075, 'SELECT \n    YEAR(p.data_criacao), AVG(valor_total) AS media\nFROM\n    pedido p\nWHERE YEAR(p.data_criacao) > 2020\nGROUP BY YEAR(p.data_criacao)\nORDER BY YEAR(p.data_criacao) ASC')
(41, 2.043404, 'SELECT \n    YEAR(p.data_criacao), AVG(valor_total) AS media\nFROM\n    pedido p\nWHERE YEAR(p.data_criacao) > 2020\nGROUP BY YEAR(p.data_criacao)\nORDER BY YEAR(p.data_criacao) ASC')
(42, 2.0785165, 'SELECT \n    YEAR(p.data_criacao), AVG(valor_total) AS media\nFROM\n    pedido p\nWHERE YEAR(p.data_criacao) > 2020\nGROUP BY YEAR(p.data_criacao)\nORDER BY YEAR(p.data_criacao) ASC')

Para separar por ano, precisaremos fazer com que a `data_criacao` seja parte da chave primária.

In [31]:
sql = """
ALTER TABLE pedido
DROP PRIMARY KEY;"""

db(sql)

Executando query:

In [32]:
sql = """
ALTER TABLE pedido
ADD PRIMARY KEY (id_pedido, data_criacao);"""

db(sql)

Executando query:

Então, separamos a tabela `pedido` em quatro partições

In [33]:
sql = """
ALTER TABLE pedido
PARTITION BY RANGE(YEAR(data_criacao))
(
    PARTITION p0 VALUES LESS THAN (2016),
    PARTITION p1 VALUES LESS THAN (2018),
    PARTITION p2 VALUES LESS THAN (2020),
    PARTITION p3 VALUES LESS THAN MAXVALUE
);"""

db(sql)

Executando query:

Executando a query novamente

In [38]:
sql1 = """
SELECT 
    YEAR(p.data_criacao), AVG(valor_total) AS media
FROM
    pedido p
WHERE YEAR(p.data_criacao) > 2020
GROUP BY YEAR(p.data_criacao)
ORDER BY YEAR(p.data_criacao) ASC;"""

db(sql1)

db("SHOW PROFILES;")

Executando query:
(2021, Decimal('149938.637044'))
(2022, Decimal('149919.921742'))
Executando query:
(40, 2.16611075, 'SELECT \n    YEAR(p.data_criacao), AVG(valor_total) AS media\nFROM\n    pedido p\nWHERE YEAR(p.data_criacao) > 2020\nGROUP BY YEAR(p.data_criacao)\nORDER BY YEAR(p.data_criacao) ASC')
(41, 2.043404, 'SELECT \n    YEAR(p.data_criacao), AVG(valor_total) AS media\nFROM\n    pedido p\nWHERE YEAR(p.data_criacao) > 2020\nGROUP BY YEAR(p.data_criacao)\nORDER BY YEAR(p.data_criacao) ASC')
(42, 2.0785165, 'SELECT \n    YEAR(p.data_criacao), AVG(valor_total) AS media\nFROM\n    pedido p\nWHERE YEAR(p.data_criacao) > 2020\nGROUP BY YEAR(p.data_criacao)\nORDER BY YEAR(p.data_criacao) ASC')
(43, 2.066346, 'SELECT \n    YEAR(p.data_criacao), AVG(valor_total) AS media\nFROM\n    pedido p\nWHERE YEAR(p.data_criacao) > 2020\nGROUP BY YEAR(p.data_criacao)\nORDER BY YEAR(p.data_criacao) ASC')

Anote abaixo suas considerações sobre particionar tabelas!

<div style="background-color: rgba(71, 85, 155, 0.2); padding: 10px; border-radius: 5px; border-left: 4px solid #475569; border: 1px solid rgba(71, 85, 105, 0.3);">

Suas observações AQUI!

</div>

## Exercícios

**Exercício 1**: Explique por que uma hash table é:

**a)** Boa para buscas por valor exato?

<div style="background-color: rgba(71, 85, 155, 0.2); padding: 10px; border-radius: 5px; border-left: 4px solid #475569; border: 1px solid rgba(71, 85, 105, 0.3);">
Uma hash table é excelente para buscas por valor exato porque ela usa uma função de hash para mapear cada chave diretamente para um índice na tabela. Isso permite acessar o valor em tempo constante médio (O(1)), sem precisar percorrer todos os elementos.

</div>

**b)** Ruim para buscas por faixas de valor?

**Dicas**:
- Tente pensar por alguns minutos como as hash tables funcionam
- Se travar, peça ajuda aos professores ou pergunte ao ChatGPT.

<div style="background-color: rgba(71, 85, 155, 0.2); padding: 10px; border-radius: 5px; border-left: 4px solid #475569; border: 1px solid rgba(71, 85, 105, 0.3);">

As hash tables são ruins para buscas por faixas de valor (por exemplo, “valores entre 10 e 20”), porque os elementos não são armazenados em ordem.
A função de hash “embaralha” as chaves, então não há relação entre os índices e a ordem dos valores — seria necessário verificar todas as entradas da tabela, o que tem custo O(n).

</div>

<a href="#gab_ex1">Click para ver a resposta</a>

**Exercício 2**: Por que os índices de bancos de dados relacionais utilizam `B-tree` e suas variantes ao invés de uma árvore binária balanceada?

<div style="background-color: rgba(71, 85, 155, 0.2); padding: 10px; border-radius: 5px; border-left: 4px solid #475569; border: 1px solid rgba(71, 85, 105, 0.3);">

Os bancos de dados usam B-trees porque elas reduzem o número de acessos a disco, mantendo os dados ordenados e balanceados, o que permite buscas rápidas e eficientes por faixas de valores.
Árvores binárias balanceadas são menos eficientes nesse contexto, pois exigem muitos acessos a disco e não são otimizadas para intervalos.

</div>

**Exercício 3**: O professor demonstrou a construção de uma `B-tree`. Pesquise o que são as `B+-trees` e responda:

**Obs:**
- O `+` representa um **plus**. Já o `-` é só um traço separador!
- Você pode simular a versão **plus** aqui https://www.cs.usfca.edu/~galles/visualization/BPlusTree.html

**a)** Qual a diferença entre a `B-tree` e a versão plus?!

<div style="background-color: rgba(71, 85, 155, 0.2); padding: 10px; border-radius: 5px; border-left: 4px solid #475569; border: 1px solid rgba(71, 85, 105, 0.3);">

A B-tree guarda dados (ponteiros) em todos os nós, enquanto a B+ tree guarda os dados somente nas folhas e mantém as folhas ligadas entre si, o que torna mais fácil buscar faixas de valores.

</div>

**b)** O MySQL utiliza `B-tree` ou `B+-trees`?

<div style="background-color: rgba(71, 85, 155, 0.2); padding: 10px; border-radius: 5px; border-left: 4px solid #475569; border: 1px solid rgba(71, 85, 105, 0.3);">

O MySQL utiliza B+ trees nos seus índices (como no InnoDB e MyISAM), pois elas são mais eficientes para buscas por valor exato e por intervalos.

</div>

**Exercício 4**: Explique por que uma B-tree é:

**a)** Razoável para buscas por valor exato?

<div style="background-color: rgba(71, 85, 155, 0.2); padding: 10px; border-radius: 5px; border-left: 4px solid #475569; border: 1px solid rgba(71, 85, 105, 0.3);">

Porque a B-tree é balanceada — a altura da árvore é pequena — então o banco consegue chegar rapidamente ao valor exato em tempo logarítmico (O(log n)), sem percorrer todos os dados.

</div>

**b)** Boa para buscas por faixa de valor?

<div style="background-color: rgba(71, 85, 155, 0.2); padding: 10px; border-radius: 5px; border-left: 4px solid #475569; border: 1px solid rgba(71, 85, 105, 0.3);">

A B-tree (e especialmente a B+ tree) é boa para buscas por faixa de valor porque as chaves ficam ordenadas, permitindo percorrer os nós ou folhas em sequência sem precisar recomeçar a busca a cada valor.

</div>

**Exercício 5**: Pense em situações onde o **particionamento vertical** é benéfico, e onde é problemático.

<div style="background-color: rgba(71, 85, 155, 0.2); padding: 10px; border-radius: 5px; border-left: 4px solid #475569; border: 1px solid rgba(71, 85, 105, 0.3);">

🟢 Benéfico quando:

Há muitas colunas na tabela e diferentes consultas usam conjuntos distintos de colunas.

Exemplo: separar colunas raramente acessadas (como “foto” ou “descrição longa”) para otimizar consultas que só precisam de campos básicos.

🔴 Problemático quando:

As consultas precisam de muitas colunas ao mesmo tempo, pois o sistema precisa juntar várias partições (joins), o que aumenta o custo de leitura.

</div>

**Exercício 6**: Pense em situações onde o **particionamento horizontal** é benéfico, e onde é problemático.

<div style="background-color: rgba(71, 85, 155, 0.2); padding: 10px; border-radius: 5px; border-left: 4px solid #475569; border: 1px solid rgba(71, 85, 105, 0.3);">

🟢 Benéfico quando:

A tabela tem muitos registros e pode ser dividida por intervalos de valores (por exemplo, por região ou por data).

Isso melhora o desempenho e facilita o balanceamento de carga em múltiplos servidores.

🔴 Problemático quando:

É necessário consultar dados de várias partições ao mesmo tempo, pois o banco precisa unir resultados de vários lugares, aumentando a latência.

</div>

## Conexão

Vamos fechar a conexão e finalizamos por hoje!

In [39]:
connection.close()

## Referências
- OLIVEIRA, C. H. P, SQL: Curso Prático, Novatec, 2002 CAP 4
- SILBERSCHATZ, A.; KORTH, H. F.; SUDARSHAN, S. DATABASE SYSTEM CONCEPTS, SEVENTH EDITION CAP 4.6
- https://jasimabasheer.com/posts/btrees

## Gabarito

**<div id="gab_ex1">Exercício 1</div>**


<style>
.box {
  padding: 10px;
  border-radius: 5px;
  border-left: 4px solid var(--accent);
  border: 1px solid var(--border);
  background-color: var(--bg);
}

/* Tema Claro */
@media (prefers-color-scheme: light) {
  .box-error {
    --accent: #ef4444; /* Red-500 */
    --border: rgba(239, 68, 68, 0.4);
    --bg: rgba(239, 68, 68, 0.15);
  }

  .box-warn {
    --accent: #f59e0b; /* Amber-500 */
    --border: rgba(245, 158, 11, 0.4);
    --bg: rgba(245, 158, 11, 0.15);
  }
}

/* Tema Escuro */
@media (prefers-color-scheme: dark) {
  .box-error {
    --accent: #f87171; /* Red-400 */
    --border: rgba(248, 113, 113, 0.4);
    --bg: rgba(248, 113, 113, 0.2);
  }

  .box-warn {
    --accent: #fbbf24; /* Amber-400 (mais claro no dark) */
    --border: rgba(251, 191, 36, 0.4);
    --bg: rgba(251, 191, 36, 0.2);
  }
}
</style>

<div class="box box-error">

**a)** Complexide de busca O(1) 😍

**b)** Não mantém relação de ordem 😭
    
</div>